.full {
    font-family: monospace;
    background-color: black;
    color: whitesmoke;
}
h1, h2 {
    font-family: 'Orbitron';
}

#strike {
    text-decoration: line-through;
}

a:link {
    color: whitesmoke;

}
a:visited {
    color: violet;
}